body {
	margin: 0;
	font-family: Arial, Verdana;
}
header {
	background-color: #FFF;
	box-shadow: 0 0 10px #CCC;
	margin-bottom: 20px;
	padding: 10px;
}
nav {
	float: right;
}
nav ul li {
	list-style: none;
	display: inline-block;
	margin: 10px;
}
nav ul li a {
	color:  #F00;
	text-decoration: none;
}
main {
	width:  100%;
}
section {
	width: 70%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
aside {
	width: 30%;
	float: right;
	padding: 10px;
	box-sizing: border-box;
}
footer {
	width: 100%;
	display: inline-block;
	box-shadow: 0 0 10px #ccc;
	text-align: center;
	margin-top: 10px;
}
.img {
	width: 100%;
}

@media (max-width:  480px) {

	header, nav, footer, section, aside  {
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	nav ul {
		padding: 0px;
	}
	nav ul li {
		display: block;
		text-align: center;
	}
	section .img {
		display: none;
	}
	footer {
		padding: 10px;
	}
}